In [1]:
# Import libraries
import sys
import tweepy
import re
import pandas as pd
import unidecode
from collections import Counter

# Authenticate to Twitter API with Tweepy
consumer_key='S7e4bcPSpNhfHEeO64pjylwFC'
consumer_secret='cGLaCjvlDvfwqzkEn7hN3AkZlUMtrhLz7SFczsASnkexy10BBx'
access_key='959019738855862273-5rqxlIGK9aCvlo2z9JWahnFPcpfln2f'
access_secret='z2NQevSQfCdEp67FWYqnYd531J6KMCzp2zGjgESiP1JsX'
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_key, access_secret)
api = tweepy.API(auth, wait_on_rate_limit=True) # Wait if it hits rate limit

# Read cities dataset
# We will look for a coincidence between the location of the tweet and one of the cities in the list
# If matches, we will assign Autonomous Community to tweet
df_cities = pd.read_csv('cities.csv', encoding='utf-8')

In [5]:
df_cities["city"].head()

0       Madrid
1    Barcelona
2      Sevilla
3       Bilbao
4     Valencia
Name: city, dtype: object

In [2]:
# Assign [Name, Coordinates, Radius] of each Autonomous Community]
# We will use a few AC and increase complexity in the future
Andalusia = ["Andalusia", "37.3399964,-4.5811614,250km"]
Madrid = ["Madrid", "40.5248319,-3.7715628,60km"]
Catalonia = ["Catalonia", "41.8523094,1.5745043,150km"]
Canary_Islands = ["Canary_Islands", "28.5306525,-15.7464439,400km"]
Basque_Country = ["Basque_Country", "42.9911816,-2.5543023,100km"]

CAS = [Andalusia, Madrid, Catalonia, Basque_Country, Canary_Islands]

In [20]:
# 1. Get 500 tweets (in case some of them fail to be retrieved) for each CA (500 tweets that are sent in the given radius)
# 2. Extract location of tweet. 
# 3. If location doesnt match one of the cities in the CA: ignore. Else: Save ID of the tweet's user
CAS_ids = []
for CA in CAS:
    CA_admin = CA[0].replace("_", " ")
    CA_cities = df_cities[df_cities["admin"] == CA_admin]["city"]
    tweets = tweepy.Cursor(api.search, geocode = CA[1]).items(500)  
    CA_ids = []
    for tweet in tweets:
        search_location = re.search('location\':(.+?),', str(tweet.user))
        if search_location:
            found_location = search_location.group(1)
            found_location = unidecode.unidecode(found_location) # Delete accent of location
            if any(word.lower() in found_location.lower() for word in CA_cities): # Check if city matches
                search_id = re.search('id\': (.+?),', str(tweet.user)) # Get id of tweet's user
                if search_id:
                    found_id = search_id.group(1)
                    CA_ids.append(int(found_id))
    print("All IDs obtained from {}".format(CA[0]))
    CAS_ids.append(CA_ids)

All IDs obtained from Andalusia
All IDs obtained from Madrid
All IDs obtained from Catalonia
All IDs obtained from Basque_Country
All IDs obtained from Canary_Islands

In [21]:
# Create dataframe with list of user IDs per each CA
columns = ["Andalusia", "Madrid", "Catalonia", "Basque_Country", "Canary_Islands"]
df_ids = pd.DataFrame(data=list(zip(CAS_ids[0], CAS_ids[1], CAS_ids[2], CAS_ids[3], CAS_ids[4])),columns=columns)
print(df_ids-head())

              Andalusia               Madrid            Catalonia  \
0             625707906           1098940878            372451001
1             330958771  1141480831501897730           4142963733
2            2358573985   917318623378788352            944384922
3             120569754            279555269            334183160
4             594625034   799191282186854400   901538411038875648
5             243561380   722132324314398720              8087512
6   1051430101135609856           1264245234  1034035283191320577
7             149106296  1037247917055193088           1556854903
8   1059474960480157697   900842031727218692            312858035
9            1726179061           1263070196   798595815971422208
10  1002267869403664384             77531723   849350355934642179
11            383345104            236030952  1115743762062426112
12            318605253            476173602  1076090838294413312
13           3087482464            261293916            308614970
14   964096746409340930   808090091377856518            198636640
15           1621354206           2451951036  1107181346450010112
16           2556959553           3128250433            152409385
17  1107351457085472770            293647178           1683497011
18            425058863           3129730816            419736226
19   775067198024978433   854386876165349376             92046270
20            284707497             50839892            619962640
21  1070023837071364097           2176789848  1020222968645980160
22           3317191107            470618833            416316122
23            131116218             18872166             12713982
24   700790925665157121   937435432295464960  1078587479459012609
25            723618528           2584115165            191120601
26           2381112218            164628863            155365526
27            418856560            234553009            211875339
28   826341284923187200            389060785            388507276
29            389920763            347872168            155363745
..                  ...                  ...                  ...
58            608312921            267841451  1097808698704039941
59             15145623  1001184327315673089   852552439152730112
60            216640974  1001184327315673089            165199137
61            400648635           4897204209           2952877042
62            269813122            139145123  1039847569126514688
63           2171020640  1058824187819757568            198636640
64   763467803739455488            980702396            132296710
65  1001993588937560064             17471096            865845835
66           1415883402            305043734           2899782502
67            322587529           2210685186           2899782502
68            448026519   705147550387609602            810844699
69            266144086           4915471623           2899782502
70  1053824761980219397           3825361161  1096171134146568192
71            461433289            255464098  1055881363562393600
72           2246357194             63482996   891423493384019969
73           4635938309           2323773007             18523957
74           1466637912            249715691   700400219037528064
75            813273338   729754547812503553           2353301434
76            201823503  1120638758284664832             61441239
77           3055843463            807378752            591830346
78  1000300690600841216             64223584           4211824611
79            157482443           2492183245  1134825349131493381
80            703982319           1203865530  1108856088626114560
81  1012499354157027328             46410386           3131588992
82            162839662           2960115814   914931208387166208
83  1129783783207653377   719549565435834373   849350355934642179
84           4635938309            400621987           2751998416
85             62044525             45517920  1097012791179988992
86            185224060            481554257            273929610
87           1162524949           2795710303            944384922

         Basque_Country       Canary_Islands
0   1123534965407408128            891883135
1    856530701180686337   912769821380575242
2    714183911325241344   912769821380575242
3            1085439649   792546175496912896
4             937007070  1145662681032122368
5            1412965134            923903724
6             302900676            923903724
7   1117908710276382721   896249532656361472
8    950451288399056897  1123841049179373568
9    856530701180686337  1033683455173963779
10           2740375173           2998224407
11   812426096973152261            267157839
12            469670613            559494139
13           1170018673           3349871590
14   814922802822316032           1018254451
15   991978748764442624  1055902196934602754
16   949643355876708352  1075715133249327104
17            937007070           2793634968
18             65419198            168790500
19            465471036             82182463
20  1111550373062459393           3003394241
21            848036568             77590825
22   989848259991662592            714275396
23            234923486   758391475826720768
24   812426096973152261  1002283741786591232
25   876718678443790338  1104524846342524931
26            377500492  1120499482901319680
27               724833             82182463
28            445904131  1131396465811755008
29   970347297623150592  1077212815382011905
..                  ...                  ...
58   970347297623150592            165765151
59            445904131            927959448
60           2310614725           2784668468
61   970347297623150592           2158816567
62           2508207817            284652958
63            245815296  1033683455173963779
64           1085439649  1052528190080647169
65            494812178   948259952430321664
66   930185562778161153           1018254451
67           3654342076  1033683455173963779
68             41170113  1075715133249327104
69   911975942343577600   935313190912757762
70            285000974  1136276068141322241
71            243998708   820953049451687936
72            276529864  1053280069198757888
73           3195200237           3367248478
74             20132814           2577260184
75           3230818277   935313190912757762
76           2740375173  1096826510395273216
77            778955898            723867756
78            399157994            542461009
79           4904729398            233871792
80   970347297623150592           1206079368
81            956021816   865898449308446720
82             58556631           1018254451
83   793366835035041793   935313190912757762
84  1088990618922221568            363421224
85  1001504613592453121   986713304029593601
86            407950424            139137453
87            286629956  1144637779659436032

[88 rows x 5 columns]

In [22]:
# TODO change names of .csv to final ones
df_ids.to_csv("CAS_ids_ext2.csv", index = False)

In [3]:
df_ids = pd.read_csv("CAS_ids_ext2.csv")

In [4]:
df_ids.head()

      Andalusia        Madrid     Catalonia  Basque_Country  Canary_Islands
0  6.257079e+08  1.098941e+09  3.724510e+08    1.123535e+18    8.918831e+08
1  3.309588e+08  1.141481e+18  4.142964e+09    8.565307e+17    9.127698e+17
2  2.358574e+09  9.173186e+17  9.443849e+08    7.141839e+17    9.127698e+17
3  1.205698e+08  2.795553e+08  3.341832e+08    1.085440e+09    7.925462e+17
4  5.946250e+08  7.991913e+17  9.015384e+17    9.370071e+08    1.145663e+18

In [4]:
# For each user ID, get 100 tweets and store all of them
tweet_users_text = []
for CA in CAS:
    user_n = 1
    for user_id in df_ids[CA[0]]:
        tweet_n = 1
        user_id = str(user_id)
        try:      
            tweets = tweepy.Cursor(api.user_timeline, id=user_id).items(100)
            for tweet in tweets:
                tweet_text = [user_id, tweet.text, CA[0]]
                if not (pd.isnull(tweet.text)):
                    tweet_users_text.append(tweet_text)
                    tweet_n += 1
            print("User {} of {} in {}".format(user_n, len(df_ids[CA[0]]), CA[0]))
            user_n += 1
            
        except:
            "Ignore User"

User 1 of 192 in Andalusia
User 2 of 192 in Andalusia
User 3 of 192 in Andalusia
User 4 of 192 in Andalusia
User 5 of 192 in Andalusia
User 6 of 192 in Andalusia
User 7 of 192 in Andalusia
User 8 of 192 in Andalusia
User 9 of 192 in Andalusia
User 10 of 192 in Andalusia
User 11 of 192 in Andalusia
User 12 of 192 in Andalusia
User 13 of 192 in Andalusia
User 14 of 192 in Andalusia
User 15 of 192 in Andalusia
User 16 of 192 in Andalusia
User 17 of 192 in Andalusia
User 18 of 192 in Andalusia
User 19 of 192 in Andalusia
User 20 of 192 in Andalusia
User 21 of 192 in Andalusia
User 22 of 192 in Andalusia
User 23 of 192 in Andalusia
User 24 of 192 in Andalusia
User 25 of 192 in Andalusia
User 26 of 192 in Andalusia
User 27 of 192 in Andalusia
User 28 of 192 in Andalusia
User 29 of 192 in Andalusia
User 30 of 192 in Andalusia
User 31 of 192 in Andalusia
User 32 of 192 in Andalusia
User 33 of 192 in Andalusia
User 34 of 192 in Andalusia
User 35 of 192 in Andalusia
User 36 of 192 in Andalusia
User 37 of 192 in Andalusia
User 38 of 192 in Andalusia
User 39 of 192 in Andalusia
User 40 of 192 in Andalusia
User 41 of 192 in Andalusia
User 42 of 192 in Andalusia
User 43 of 192 in Andalusia
User 44 of 192 in Andalusia
User 45 of 192 in Andalusia
User 46 of 192 in Andalusia
User 47 of 192 in Andalusia
User 48 of 192 in Andalusia
User 49 of 192 in Andalusia
User 50 of 192 in Andalusia
User 51 of 192 in Andalusia
User 52 of 192 in Andalusia
User 53 of 192 in Andalusia
User 54 of 192 in Andalusia
User 55 of 192 in Andalusia
User 56 of 192 in Andalusia
User 57 of 192 in Andalusia
User 58 of 192 in Andalusia
User 59 of 192 in Andalusia
User 60 of 192 in Andalusia
User 61 of 192 in Andalusia
User 62 of 192 in Andalusia
User 63 of 192 in Andalusia
User 64 of 192 in Andalusia
User 65 of 192 in Andalusia
User 66 of 192 in Andalusia
User 67 of 192 in Andalusia
User 68 of 192 in Andalusia
User 69 of 192 in Andalusia
User 70 of 192 in Andalusia
User 71 of 192 in Andalusia
User 72 of 192 in Andalusia
User 73 of 192 in Andalusia
User 74 of 192 in Andalusia
User 75 of 192 in Andalusia
User 76 of 192 in Andalusia
User 77 of 192 in Andalusia
User 78 of 192 in Andalusia
User 79 of 192 in Andalusia
User 80 of 192 in Andalusia
User 81 of 192 in Andalusia
User 82 of 192 in Andalusia
User 83 of 192 in Andalusia
User 84 of 192 in Andalusia
User 85 of 192 in Andalusia
User 86 of 192 in Andalusia
User 87 of 192 in Andalusia
User 88 of 192 in Andalusia
User 89 of 192 in Andalusia
User 90 of 192 in Andalusia
User 91 of 192 in Andalusia
User 92 of 192 in Andalusia
User 93 of 192 in Andalusia
User 94 of 192 in Andalusia
User 95 of 192 in Andalusia
User 96 of 192 in Andalusia
User 97 of 192 in Andalusia
User 98 of 192 in Andalusia
User 99 of 192 in Andalusia
User 100 of 192 in Andalusia
User 101 of 192 in Andalusia
User 102 of 192 in Andalusia
User 103 of 192 in Andalusia
User 104 of 192 in Andalusia
User 105 of 192 in Andalusia
User 106 of 192 in Andalusia
User 107 of 192 in Andalusia
User 108 of 192 in Andalusia
User 109 of 192 in Andalusia
User 110 of 192 in Andalusia
User 111 of 192 in Andalusia
User 112 of 192 in Andalusia
User 113 of 192 in Andalusia
User 114 of 192 in Andalusia
User 115 of 192 in Andalusia
User 116 of 192 in Andalusia
User 117 of 192 in Andalusia
User 118 of 192 in Andalusia
User 119 of 192 in Andalusia
User 120 of 192 in Andalusia
User 121 of 192 in Andalusia
User 122 of 192 in Andalusia
User 123 of 192 in Andalusia
User 124 of 192 in Andalusia
User 125 of 192 in Andalusia
User 126 of 192 in Andalusia
User 127 of 192 in Andalusia
User 128 of 192 in Andalusia
User 129 of 192 in Andalusia
User 130 of 192 in Andalusia
User 131 of 192 in Andalusia
User 132 of 192 in Andalusia
User 133 of 192 in Andalusia
User 134 of 192 in Andalusia
User 135 of 192 in Andalusia
User 136 of 192 in Andalusia
User 137 of 192 in Andalusia
User 138 of 192 in Andalusia
User 1 of 192 in Madrid
User 2 of 192 in Madrid
User 3 of 192 in Madrid
User 4 of 192 in Madrid
User 5 of 192 in Madrid
User 6 of 192 in Madrid
User 7 of 192 in Madrid
User 8 of 192 in Madrid
User 9 of 192 in Madrid
User 10 of 192 in Madrid
User 11 of 192 in Madrid
User 12 of 192 in Madrid
User 13 of 192 in Madrid
User 14 of 192 in Madrid
User 15 of 192 in Madrid
User 16 of 192 in Madrid
User 17 of 192 in Madrid
User 18 of 192 in Madrid
User 19 of 192 in Madrid
User 20 of 192 in Madrid
User 21 of 192 in Madrid
User 22 of 192 in Madrid
User 23 of 192 in Madrid
User 24 of 192 in Madrid
User 25 of 192 in Madrid
User 26 of 192 in Madrid
User 27 of 192 in Madrid
User 28 of 192 in Madrid
User 29 of 192 in Madrid
User 30 of 192 in Madrid
User 31 of 192 in Madrid
User 32 of 192 in Madrid
User 33 of 192 in Madrid
User 34 of 192 in Madrid
User 35 of 192 in Madrid
User 36 of 192 in Madrid
User 37 of 192 in Madrid
User 38 of 192 in Madrid
User 39 of 192 in Madrid
User 40 of 192 in Madrid
User 41 of 192 in Madrid
User 42 of 192 in Madrid
User 43 of 192 in Madrid
User 44 of 192 in Madrid
User 45 of 192 in Madrid
User 46 of 192 in Madrid
User 47 of 192 in Madrid
User 48 of 192 in Madrid
User 49 of 192 in Madrid
User 50 of 192 in Madrid
User 51 of 192 in Madrid
User 52 of 192 in Madrid
User 53 of 192 in Madrid
User 54 of 192 in Madrid
User 55 of 192 in Madrid
User 56 of 192 in Madrid
User 57 of 192 in Madrid
User 58 of 192 in Madrid
User 59 of 192 in Madrid
User 60 of 192 in Madrid
User 61 of 192 in Madrid
User 62 of 192 in Madrid
User 63 of 192 in Madrid
User 64 of 192 in Madrid
User 65 of 192 in Madrid
User 66 of 192 in Madrid
User 67 of 192 in Madrid
User 68 of 192 in Madrid
User 69 of 192 in Madrid
User 70 of 192 in Madrid
User 71 of 192 in Madrid
User 72 of 192 in Madrid
User 73 of 192 in Madrid
User 74 of 192 in Madrid
User 75 of 192 in Madrid
User 76 of 192 in Madrid
User 77 of 192 in Madrid
User 78 of 192 in Madrid
User 79 of 192 in Madrid
User 80 of 192 in Madrid
User 81 of 192 in Madrid
User 82 of 192 in Madrid
User 83 of 192 in Madrid
User 84 of 192 in Madrid
User 85 of 192 in Madrid
User 86 of 192 in Madrid
User 87 of 192 in Madrid
User 88 of 192 in Madrid
User 89 of 192 in Madrid
User 90 of 192 in Madrid
User 91 of 192 in Madrid
User 92 of 192 in Madrid
User 93 of 192 in Madrid
User 94 of 192 in Madrid
User 95 of 192 in Madrid
User 96 of 192 in Madrid
User 97 of 192 in Madrid
User 98 of 192 in Madrid
User 99 of 192 in Madrid
User 100 of 192 in Madrid
User 101 of 192 in Madrid
User 102 of 192 in Madrid
User 103 of 192 in Madrid
User 104 of 192 in Madrid
User 105 of 192 in Madrid
User 106 of 192 in Madrid
User 107 of 192 in Madrid
User 108 of 192 in Madrid
User 109 of 192 in Madrid
User 110 of 192 in Madrid
User 111 of 192 in Madrid
User 112 of 192 in Madrid
User 113 of 192 in Madrid
User 114 of 192 in Madrid
User 115 of 192 in Madrid
User 116 of 192 in Madrid
User 117 of 192 in Madrid
User 118 of 192 in Madrid
User 119 of 192 in Madrid
User 120 of 192 in Madrid
User 121 of 192 in Madrid
User 122 of 192 in Madrid
User 123 of 192 in Madrid
User 124 of 192 in Madrid
User 125 of 192 in Madrid
User 126 of 192 in Madrid
User 127 of 192 in Madrid
User 128 of 192 in Madrid
User 129 of 192 in Madrid
User 130 of 192 in Madrid
User 1 of 192 in Catalonia
User 2 of 192 in Catalonia
User 3 of 192 in Catalonia
User 4 of 192 in Catalonia
User 5 of 192 in Catalonia
User 6 of 192 in Catalonia
User 7 of 192 in Catalonia
User 8 of 192 in Catalonia
User 9 of 192 in Catalonia
User 10 of 192 in Catalonia
User 11 of 192 in Catalonia
User 12 of 192 in Catalonia
User 13 of 192 in Catalonia
User 14 of 192 in Catalonia
User 15 of 192 in Catalonia
User 16 of 192 in Catalonia
User 17 of 192 in Catalonia
User 18 of 192 in Catalonia
User 19 of 192 in Catalonia
User 20 of 192 in Catalonia
User 21 of 192 in Catalonia
User 22 of 192 in Catalonia
User 23 of 192 in Catalonia
User 24 of 192 in Catalonia
User 25 of 192 in Catalonia
User 26 of 192 in Catalonia
User 27 of 192 in Catalonia
User 28 of 192 in Catalonia
User 29 of 192 in Catalonia
User 30 of 192 in Catalonia
User 31 of 192 in Catalonia
User 32 of 192 in Catalonia
User 33 of 192 in Catalonia
User 34 of 192 in Catalonia
User 35 of 192 in Catalonia
User 36 of 192 in Catalonia
User 37 of 192 in Catalonia

User 38 of 192 in Catalonia
User 39 of 192 in Catalonia
User 40 of 192 in Catalonia
User 41 of 192 in Catalonia
User 42 of 192 in Catalonia
User 43 of 192 in Catalonia
User 44 of 192 in Catalonia
User 45 of 192 in Catalonia
User 46 of 192 in Catalonia
User 47 of 192 in Catalonia
User 48 of 192 in Catalonia
User 49 of 192 in Catalonia
User 50 of 192 in Catalonia
User 51 of 192 in Catalonia
User 52 of 192 in Catalonia
User 53 of 192 in Catalonia
User 54 of 192 in Catalonia
User 55 of 192 in Catalonia
User 56 of 192 in Catalonia
User 57 of 192 in Catalonia
User 58 of 192 in Catalonia
User 59 of 192 in Catalonia
User 60 of 192 in Catalonia
User 61 of 192 in Catalonia
User 62 of 192 in Catalonia
User 63 of 192 in Catalonia
User 64 of 192 in Catalonia
User 65 of 192 in Catalonia
User 66 of 192 in Catalonia
User 67 of 192 in Catalonia
User 68 of 192 in Catalonia
User 69 of 192 in Catalonia
User 70 of 192 in Catalonia
User 71 of 192 in Catalonia
User 72 of 192 in Catalonia
User 73 of 192 in Catalonia
User 74 of 192 in Catalonia
User 75 of 192 in Catalonia
User 76 of 192 in Catalonia
User 77 of 192 in Catalonia
User 78 of 192 in Catalonia
User 79 of 192 in Catalonia
User 80 of 192 in Catalonia
User 81 of 192 in Catalonia
User 82 of 192 in Catalonia
User 83 of 192 in Catalonia
User 84 of 192 in Catalonia
User 85 of 192 in Catalonia
User 86 of 192 in Catalonia
User 87 of 192 in Catalonia
User 88 of 192 in Catalonia
User 89 of 192 in Catalonia
User 90 of 192 in Catalonia
User 91 of 192 in Catalonia
User 92 of 192 in Catalonia
User 93 of 192 in Catalonia
User 94 of 192 in Catalonia
User 95 of 192 in Catalonia
User 96 of 192 in Catalonia
User 97 of 192 in Catalonia
User 98 of 192 in Catalonia
User 99 of 192 in Catalonia
User 100 of 192 in Catalonia
User 101 of 192 in Catalonia
User 102 of 192 in Catalonia
User 103 of 192 in Catalonia
User 104 of 192 in Catalonia
User 105 of 192 in Catalonia
User 106 of 192 in Catalonia
User 107 of 192 in Catalonia
User 108 of 192 in Catalonia
User 109 of 192 in Catalonia
User 110 of 192 in Catalonia
User 111 of 192 in Catalonia
User 112 of 192 in Catalonia
User 113 of 192 in Catalonia
User 114 of 192 in Catalonia
User 115 of 192 in Catalonia
User 116 of 192 in Catalonia
User 117 of 192 in Catalonia
User 118 of 192 in Catalonia
User 119 of 192 in Catalonia
User 120 of 192 in Catalonia
User 121 of 192 in Catalonia
User 122 of 192 in Catalonia
User 123 of 192 in Catalonia
User 124 of 192 in Catalonia
User 125 of 192 in Catalonia
User 126 of 192 in Catalonia
User 127 of 192 in Catalonia
User 128 of 192 in Catalonia
User 129 of 192 in Catalonia
User 130 of 192 in Catalonia
User 131 of 192 in Catalonia
User 132 of 192 in Catalonia
User 133 of 192 in Catalonia
User 134 of 192 in Catalonia
User 135 of 192 in Catalonia
User 136 of 192 in Catalonia
User 1 of 192 in Basque_Country
User 2 of 192 in Basque_Country
User 3 of 192 in Basque_Country
User 4 of 192 in Basque_Country
User 5 of 192 in Basque_Country
User 6 of 192 in Basque_Country
User 7 of 192 in Basque_Country
User 8 of 192 in Basque_Country
User 9 of 192 in Basque_Country
User 10 of 192 in Basque_Country
User 11 of 192 in Basque_Country
User 12 of 192 in Basque_Country
User 13 of 192 in Basque_Country
User 14 of 192 in Basque_Country
User 15 of 192 in Basque_Country
User 16 of 192 in Basque_Country
User 17 of 192 in Basque_Country
User 18 of 192 in Basque_Country
User 19 of 192 in Basque_Country
User 20 of 192 in Basque_Country
User 21 of 192 in Basque_Country
User 22 of 192 in Basque_Country
User 23 of 192 in Basque_Country
User 24 of 192 in Basque_Country
User 25 of 192 in Basque_Country
User 26 of 192 in Basque_Country
User 27 of 192 in Basque_Country
User 28 of 192 in Basque_Country
User 29 of 192 in Basque_Country
User 30 of 192 in Basque_Country
User 31 of 192 in Basque_Country
User 32 of 192 in Basque_Country
User 33 of 192 in Basque_Country
User 34 of 192 in Basque_Country
User 35 of 192 in Basque_Country
User 36 of 192 in Basque_Country
User 37 of 192 in Basque_Country
User 38 of 192 in Basque_Country
User 39 of 192 in Basque_Country
User 40 of 192 in Basque_Country
User 41 of 192 in Basque_Country
User 42 of 192 in Basque_Country
User 43 of 192 in Basque_Country
User 44 of 192 in Basque_Country
User 45 of 192 in Basque_Country
User 46 of 192 in Basque_Country
User 47 of 192 in Basque_Country
User 48 of 192 in Basque_Country
User 49 of 192 in Basque_Country
User 50 of 192 in Basque_Country
User 51 of 192 in Basque_Country
User 52 of 192 in Basque_Country
User 53 of 192 in Basque_Country
User 54 of 192 in Basque_Country
User 55 of 192 in Basque_Country
User 56 of 192 in Basque_Country
User 57 of 192 in Basque_Country
User 58 of 192 in Basque_Country
User 59 of 192 in Basque_Country
User 60 of 192 in Basque_Country
User 61 of 192 in Basque_Country
User 62 of 192 in Basque_Country
User 63 of 192 in Basque_Country
User 64 of 192 in Basque_Country
User 65 of 192 in Basque_Country
User 66 of 192 in Basque_Country
User 67 of 192 in Basque_Country
User 68 of 192 in Basque_Country
User 69 of 192 in Basque_Country
User 70 of 192 in Basque_Country
User 71 of 192 in Basque_Country
User 72 of 192 in Basque_Country
User 73 of 192 in Basque_Country
User 74 of 192 in Basque_Country
User 75 of 192 in Basque_Country
User 76 of 192 in Basque_Country
User 77 of 192 in Basque_Country
User 78 of 192 in Basque_Country
User 79 of 192 in Basque_Country
User 80 of 192 in Basque_Country
User 81 of 192 in Basque_Country
User 82 of 192 in Basque_Country
User 83 of 192 in Basque_Country
User 84 of 192 in Basque_Country
User 85 of 192 in Basque_Country
User 86 of 192 in Basque_Country
User 87 of 192 in Basque_Country
User 88 of 192 in Basque_Country
User 89 of 192 in Basque_Country
User 90 of 192 in Basque_Country
User 91 of 192 in Basque_Country
User 92 of 192 in Basque_Country
User 93 of 192 in Basque_Country
User 94 of 192 in Basque_Country
User 95 of 192 in Basque_Country
User 96 of 192 in Basque_Country
User 97 of 192 in Basque_Country
User 98 of 192 in Basque_Country
User 99 of 192 in Basque_Country
User 100 of 192 in Basque_Country
User 101 of 192 in Basque_Country
User 102 of 192 in Basque_Country
User 103 of 192 in Basque_Country
User 104 of 192 in Basque_Country
User 105 of 192 in Basque_Country
User 106 of 192 in Basque_Country
User 107 of 192 in Basque_Country
User 108 of 192 in Basque_Country
User 109 of 192 in Basque_Country
User 110 of 192 in Basque_Country
User 111 of 192 in Basque_Country
User 112 of 192 in Basque_Country
User 113 of 192 in Basque_Country
User 114 of 192 in Basque_Country
User 115 of 192 in Basque_Country
User 116 of 192 in Basque_Country
User 117 of 192 in Basque_Country
User 118 of 192 in Basque_Country
User 119 of 192 in Basque_Country
User 120 of 192 in Basque_Country
User 121 of 192 in Basque_Country
User 122 of 192 in Basque_Country
User 123 of 192 in Basque_Country
User 1 of 192 in Canary_Islands
User 2 of 192 in Canary_Islands
User 3 of 192 in Canary_Islands
User 4 of 192 in Canary_Islands
User 5 of 192 in Canary_Islands
User 6 of 192 in Canary_Islands
User 7 of 192 in Canary_Islands
User 8 of 192 in Canary_Islands
User 9 of 192 in Canary_Islands
User 10 of 192 in Canary_Islands
User 11 of 192 in Canary_Islands
User 12 of 192 in Canary_Islands
User 13 of 192 in Canary_Islands
User 14 of 192 in Canary_Islands
User 15 of 192 in Canary_Islands
User 16 of 192 in Canary_Islands
User 17 of 192 in Canary_Islands
User 18 of 192 in Canary_Islands
User 19 of 192 in Canary_Islands
User 20 of 192 in Canary_Islands
User 21 of 192 in Canary_Islands
User 22 of 192 in Canary_Islands
User 23 of 192 in Canary_Islands
User 24 of 192 in Canary_Islands
User 25 of 192 in Canary_Islands
User 26 of 192 in Canary_Islands
User 27 of 192 in Canary_Islands
User 28 of 192 in Canary_Islands
User 29 of 192 in Canary_Islands
User 30 of 192 in Canary_Islands
User 31 of 192 in Canary_Islands
User 32 of 192 in Canary_Islands
User 33 of 192 in Canary_Islands
User 34 of 192 in Canary_Islands
User 35 of 192 in Canary_Islands
User 36 of 192 in Canary_Islands
User 37 of 192 in Canary_Islands
User 38 of 192 in Canary_Islands
User 39 of 192 in Canary_Islands
User 40 of 192 in Canary_Islands

User 41 of 192 in Canary_Islands
User 42 of 192 in Canary_Islands
User 43 of 192 in Canary_Islands
User 44 of 192 in Canary_Islands
User 45 of 192 in Canary_Islands
User 46 of 192 in Canary_Islands
User 47 of 192 in Canary_Islands
User 48 of 192 in Canary_Islands
User 49 of 192 in Canary_Islands
User 50 of 192 in Canary_Islands
User 51 of 192 in Canary_Islands
User 52 of 192 in Canary_Islands
User 53 of 192 in Canary_Islands
User 54 of 192 in Canary_Islands
User 55 of 192 in Canary_Islands
User 56 of 192 in Canary_Islands
User 57 of 192 in Canary_Islands
User 58 of 192 in Canary_Islands
User 59 of 192 in Canary_Islands
User 60 of 192 in Canary_Islands
User 61 of 192 in Canary_Islands
User 62 of 192 in Canary_Islands
User 63 of 192 in Canary_Islands
User 64 of 192 in Canary_Islands
User 65 of 192 in Canary_Islands
User 66 of 192 in Canary_Islands
User 67 of 192 in Canary_Islands
User 68 of 192 in Canary_Islands
User 69 of 192 in Canary_Islands
User 70 of 192 in Canary_Islands
User 71 of 192 in Canary_Islands
User 72 of 192 in Canary_Islands
User 73 of 192 in Canary_Islands
User 74 of 192 in Canary_Islands
User 75 of 192 in Canary_Islands
User 76 of 192 in Canary_Islands
User 77 of 192 in Canary_Islands
User 78 of 192 in Canary_Islands
User 79 of 192 in Canary_Islands
User 80 of 192 in Canary_Islands
User 81 of 192 in Canary_Islands
User 82 of 192 in Canary_Islands
User 83 of 192 in Canary_Islands
User 84 of 192 in Canary_Islands
User 85 of 192 in Canary_Islands
User 86 of 192 in Canary_Islands
User 87 of 192 in Canary_Islands
User 88 of 192 in Canary_Islands
User 89 of 192 in Canary_Islands
User 90 of 192 in Canary_Islands
User 91 of 192 in Canary_Islands
User 92 of 192 in Canary_Islands
User 93 of 192 in Canary_Islands
User 94 of 192 in Canary_Islands

In [5]:
# Transform to dataframe
df_tweets = pd.DataFrame(tweet_users_text, columns = ["id", "tweet", "location"])

In [6]:
# Check number of tweets obtained. We notice that classes are imbalanced which can bias the problem
# We will analyse this later
count_CA = Counter(list(df_tweets["location"])).most_common(5)
print(count_CA)

[('Andalusia', 13684), ('Catalonia', 13600), ('Madrid', 13000), ('Basque_Country', 12256), ('Canary_Islands', 9363)]

In [7]:
# TODO change names of .csv
df_tweets.to_csv("tweet_dataset_ext2.csv", encoding='utf-8-sig', index = False)

In [ ]:
df_tweets = pd.read_csv("tweet_dataset_ext2.csv")