In [9]:
# Import libraries
import pandas as pd
import unidecode
from nltk.tokenize import RegexpTokenizer
from nltk.corpus import stopwords
from nltk.stem import SnowballStemmer
from sklearn.feature_extraction.text import TfidfVectorizer
from langdetect import detect
from collections import Counter

# NLP definitions
stemmer = SnowballStemmer('spanish')
tokenizer = RegexpTokenizer(r'\w+')
vectorizer = TfidfVectorizer()

In [3]:
def process_tweet(sentence):
    """ Process sentece by deleting accents, lowercasing, stemming, 
    deleting stopwords and cleaning not useful elements (rt, http)"""
    sentence = sentence.lower()
    sentence = unidecode.unidecode(sentence)
    words = sentence.split()
    if len(words) > 1:
        if words[0].lower() == "rt" and "@" in words[1]:
            del words[1]
    sentence = " ".join(words)
    words = tokenizer.tokenize(sentence)
    if detect(row["tweet"]) == "es":
        words = [w for w in words if not w in stopwords.words("spanish")] # Remove stopwords
    if detect(row["tweet"]) == "ca":
        words = [w for w in words if not w in stopwords.words("catalan.txt")]
    if detect(row["tweet"]) == "eu":
        words = [w for w in words if not w in stopwords.words("basque.txt")]
    words = [w for w in words if ("rt" != w.lower()) if (not "http" in w)]     # Delete words containing url or RT word 
    words = [stemmer.stem(w) for w in words] # Stemming spanish
    sentence = " ".join(words)
    return sentence

In [4]:
# Import dataset
df_tweets= pd.read_csv("tweet_dataset.csv")

In [5]:
# Load [Name, Coordinates, Radius] of each Autonomous Community]
Andalusia = ["Andalusia", "37.3399964,-4.5811614,250km"]
Madrid = ["Madrid", "40.5248319,-3.7715628,60km"]
Catalonia = ["Catalonia", "41.8523094,1.5745043,150km"]
Canary_Islands = ["Canary_Islands", "28.5306525,-15.7464439,400km"]
Basque_Country = ["Basque_Country", "42.9911816,-2.5543023,100km"]

CAS = [Andalusia, Madrid, Catalonia, Basque_Country, Canary_Islands]

In [6]:
# Process tweets from dataset
processed_dataset = []
n_rows = len(df_tweets["location"])
actual_row = 1
for CA in CAS:
    for index, row in df_tweets[df_tweets["location"] == CA[0]].iterrows():
        try: 
            if detect(row["tweet"]) == "es" or detect(row["tweet"]) == "ca" or detect(row["tweet"]) == "eu":
                sentence = process_tweet(row[1])
                processed_dataset.append([row[0], sentence, row[2]])   
                if actual_row%100 == 0:
                    print("Row {} of {}".format(actual_row, n_rows))
                actual_row += 1
        except:
            "Ignore tweet if exception"

Row 100 of 61903
Row 200 of 61903
Row 300 of 61903
Row 400 of 61903
Row 500 of 61903
Row 600 of 61903
Row 700 of 61903
Row 800 of 61903
Row 900 of 61903
Row 1000 of 61903
Row 1100 of 61903
Row 1200 of 61903
Row 1300 of 61903
Row 1400 of 61903
Row 1500 of 61903
Row 1600 of 61903
Row 1700 of 61903
Row 1800 of 61903
Row 1900 of 61903
Row 2000 of 61903
Row 2100 of 61903
Row 2200 of 61903
Row 2300 of 61903
Row 2400 of 61903
Row 2500 of 61903
Row 2600 of 61903
Row 2700 of 61903
Row 2800 of 61903
Row 2900 of 61903
Row 3000 of 61903
Row 3100 of 61903
Row 3200 of 61903
Row 3300 of 61903
Row 3400 of 61903
Row 3500 of 61903
Row 3600 of 61903
Row 3700 of 61903
Row 3800 of 61903
Row 3900 of 61903
Row 4000 of 61903
Row 4100 of 61903
Row 4200 of 61903
Row 4300 of 61903
Row 4400 of 61903
Row 4500 of 61903
Row 4600 of 61903
Row 4700 of 61903
Row 4800 of 61903
Row 4900 of 61903
Row 5000 of 61903
Row 5100 of 61903
Row 5200 of 61903
Row 5300 of 61903
Row 5400 of 61903
Row 5500 of 61903
Row 5600 of 61903
Row 5700 of 61903
Row 5800 of 61903
Row 5900 of 61903
Row 6000 of 61903
Row 6100 of 61903
Row 6200 of 61903
Row 6300 of 61903
Row 6400 of 61903
Row 6500 of 61903
Row 6600 of 61903
Row 6700 of 61903
Row 6800 of 61903
Row 6900 of 61903
Row 7000 of 61903
Row 7100 of 61903
Row 7200 of 61903
Row 7300 of 61903
Row 7400 of 61903
Row 7500 of 61903
Row 7600 of 61903
Row 7700 of 61903
Row 7800 of 61903
Row 7900 of 61903
Row 8000 of 61903
Row 8100 of 61903
Row 8200 of 61903
Row 8300 of 61903
Row 8400 of 61903
Row 8500 of 61903
Row 8600 of 61903
Row 8700 of 61903
Row 8800 of 61903
Row 8900 of 61903
Row 9000 of 61903
Row 9100 of 61903
Row 9200 of 61903
Row 9300 of 61903
Row 9400 of 61903
Row 9500 of 61903
Row 9600 of 61903
Row 9700 of 61903
Row 9800 of 61903
Row 9900 of 61903
Row 10000 of 61903
Row 10100 of 61903
Row 10200 of 61903
Row 10300 of 61903
Row 10400 of 61903
Row 10500 of 61903
Row 10600 of 61903
Row 10700 of 61903
Row 10800 of 61903
Row 10900 of 61903
Row 11000 of 61903
Row 11100 of 61903
Row 11200 of 61903
Row 11300 of 61903
Row 11400 of 61903
Row 11500 of 61903
Row 11600 of 61903
Row 11700 of 61903
Row 11800 of 61903
Row 11900 of 61903
Row 12000 of 61903
Row 12100 of 61903
Row 12200 of 61903
Row 12300 of 61903
Row 12400 of 61903
Row 12500 of 61903
Row 12600 of 61903
Row 12700 of 61903
Row 12800 of 61903
Row 12900 of 61903
Row 13000 of 61903
Row 13100 of 61903
Row 13200 of 61903
Row 13300 of 61903
Row 13400 of 61903
Row 13500 of 61903
Row 13600 of 61903
Row 13700 of 61903
Row 13800 of 61903
Row 13900 of 61903
Row 14000 of 61903
Row 14100 of 61903
Row 14200 of 61903
Row 14300 of 61903
Row 14400 of 61903
Row 14500 of 61903
Row 14600 of 61903
Row 14700 of 61903
Row 14800 of 61903
Row 14900 of 61903
Row 15000 of 61903
Row 15100 of 61903
Row 15200 of 61903
Row 15300 of 61903
Row 15400 of 61903
Row 15500 of 61903
Row 15600 of 61903
Row 15700 of 61903
Row 15800 of 61903
Row 15900 of 61903
Row 16000 of 61903
Row 16100 of 61903
Row 16200 of 61903
Row 16300 of 61903
Row 16400 of 61903
Row 16500 of 61903
Row 16600 of 61903
Row 16700 of 61903
Row 16800 of 61903
Row 16900 of 61903
Row 17000 of 61903
Row 17100 of 61903
Row 17200 of 61903
Row 17300 of 61903
Row 17400 of 61903
Row 17500 of 61903
Row 17600 of 61903
Row 17700 of 61903
Row 17800 of 61903
Row 17900 of 61903
Row 18000 of 61903
Row 18100 of 61903
Row 18200 of 61903
Row 18300 of 61903
Row 18400 of 61903
Row 18500 of 61903
Row 18600 of 61903
Row 18700 of 61903
Row 18800 of 61903
Row 18900 of 61903
Row 19000 of 61903
Row 19100 of 61903
Row 19200 of 61903
Row 19300 of 61903
Row 19400 of 61903
Row 19500 of 61903
Row 19600 of 61903
Row 19700 of 61903
Row 19800 of 61903
Row 19900 of 61903
Row 20000 of 61903
Row 20100 of 61903
Row 20200 of 61903
Row 20300 of 61903
Row 20400 of 61903
Row 20500 of 61903
Row 20600 of 61903
Row 20700 of 61903
Row 20800 of 61903
Row 20900 of 61903
Row 21000 of 61903
Row 21100 of 61903
Row 21200 of 61903
Row 21300 of 61903
Row 21400 of 61903
Row 21500 of 61903
Row 21600 of 61903
Row 21700 of 61903
Row 21800 of 61903
Row 21900 of 61903
Row 22000 of 61903
Row 22100 of 61903
Row 22200 of 61903
Row 22300 of 61903
Row 22400 of 61903
Row 22500 of 61903
Row 22600 of 61903
Row 22700 of 61903
Row 22800 of 61903
Row 22900 of 61903
Row 23000 of 61903
Row 23100 of 61903
Row 23200 of 61903
Row 23300 of 61903
Row 23400 of 61903
Row 23500 of 61903
Row 23600 of 61903
Row 23700 of 61903
Row 23800 of 61903
Row 23900 of 61903
Row 24000 of 61903
Row 24100 of 61903
Row 24200 of 61903
Row 24300 of 61903
Row 24400 of 61903
Row 24500 of 61903
Row 24600 of 61903
Row 24700 of 61903
Row 24800 of 61903
Row 24900 of 61903
Row 25000 of 61903
Row 25100 of 61903
Row 25200 of 61903
Row 25300 of 61903
Row 25400 of 61903
Row 25500 of 61903
Row 25600 of 61903
Row 25700 of 61903
Row 25800 of 61903
Row 25900 of 61903
Row 26000 of 61903
Row 26100 of 61903
Row 26200 of 61903
Row 26300 of 61903
Row 26400 of 61903
Row 26500 of 61903
Row 26600 of 61903
Row 26700 of 61903
Row 26800 of 61903
Row 26900 of 61903
Row 27000 of 61903
Row 27100 of 61903
Row 27200 of 61903
Row 27300 of 61903
Row 27400 of 61903
Row 27500 of 61903
Row 27600 of 61903
Row 27700 of 61903
Row 27800 of 61903
Row 27900 of 61903
Row 28000 of 61903
Row 28100 of 61903
Row 28200 of 61903
Row 28300 of 61903
Row 28400 of 61903
Row 28500 of 61903
Row 28600 of 61903
Row 28700 of 61903
Row 28800 of 61903
Row 28900 of 61903
Row 29000 of 61903
Row 29100 of 61903
Row 29200 of 61903
Row 29300 of 61903
Row 29400 of 61903
Row 29500 of 61903
Row 29600 of 61903
Row 29700 of 61903
Row 29800 of 61903
Row 29900 of 61903
Row 30000 of 61903
Row 30100 of 61903
Row 30200 of 61903
Row 30300 of 61903
Row 30400 of 61903
Row 30500 of 61903
Row 30600 of 61903
Row 30700 of 61903
Row 30800 of 61903
Row 30900 of 61903
Row 31000 of 61903
Row 31100 of 61903
Row 31200 of 61903
Row 31300 of 61903
Row 31400 of 61903
Row 31500 of 61903
Row 31600 of 61903
Row 31700 of 61903
Row 31800 of 61903
Row 31900 of 61903
Row 32000 of 61903
Row 32100 of 61903
Row 32200 of 61903
Row 32300 of 61903
Row 32400 of 61903
Row 32500 of 61903
Row 32600 of 61903
Row 32700 of 61903
Row 32800 of 61903
Row 32900 of 61903
Row 33000 of 61903
Row 33100 of 61903
Row 33200 of 61903
Row 33300 of 61903
Row 33400 of 61903
Row 33500 of 61903
Row 33600 of 61903
Row 33700 of 61903
Row 33800 of 61903
Row 33900 of 61903
Row 34000 of 61903
Row 34100 of 61903
Row 34200 of 61903
Row 34300 of 61903
Row 34400 of 61903
Row 34500 of 61903
Row 34600 of 61903
Row 34700 of 61903
Row 34800 of 61903
Row 34900 of 61903
Row 35000 of 61903
Row 35100 of 61903
Row 35200 of 61903
Row 35300 of 61903
Row 35400 of 61903
Row 35500 of 61903
Row 35600 of 61903
Row 35700 of 61903
Row 35800 of 61903
Row 35900 of 61903
Row 36000 of 61903
Row 36100 of 61903
Row 36200 of 61903
Row 36300 of 61903
Row 36400 of 61903
Row 36500 of 61903
Row 36600 of 61903
Row 36700 of 61903
Row 36800 of 61903
Row 36900 of 61903
Row 37000 of 61903
Row 37100 of 61903
Row 37200 of 61903
Row 37300 of 61903
Row 37400 of 61903
Row 37500 of 61903
Row 37600 of 61903
Row 37700 of 61903
Row 37800 of 61903
Row 37900 of 61903
Row 38000 of 61903
Row 38100 of 61903
Row 38200 of 61903
Row 38300 of 61903
Row 38400 of 61903
Row 38500 of 61903
Row 38600 of 61903
Row 38700 of 61903
Row 38800 of 61903
Row 38900 of 61903
Row 39000 of 61903
Row 39100 of 61903
Row 39200 of 61903
Row 39300 of 61903
Row 39400 of 61903
Row 39500 of 61903
Row 39600 of 61903
Row 39700 of 61903
Row 39800 of 61903
Row 39900 of 61903
Row 40000 of 61903
Row 40100 of 61903
Row 40200 of 61903
Row 40300 of 61903
Row 40400 of 61903
Row 40500 of 61903
Row 40600 of 61903
Row 40700 of 61903
Row 40800 of 61903
Row 40900 of 61903
Row 41000 of 61903
Row 41100 of 61903
Row 41200 of 61903
Row 41300 of 61903
Row 41400 of 61903
Row 41500 of 61903
Row 41600 of 61903
Row 41700 of 61903
Row 41800 of 61903
Row 41900 of 61903
Row 42000 of 61903
Row 42100 of 61903
Row 42200 of 61903
Row 42300 of 61903
Row 42400 of 61903
Row 42500 of 61903
Row 42600 of 61903
Row 42700 of 61903
Row 42800 of 61903
Row 42900 of 61903
Row 43000 of 61903
Row 43100 of 61903
Row 43200 of 61903
Row 43300 of 61903
Row 43400 of 61903
Row 43500 of 61903
Row 43600 of 61903
Row 43700 of 61903

Row 43800 of 61903
Row 43900 of 61903
Row 44000 of 61903
Row 44100 of 61903
Row 44200 of 61903
Row 44300 of 61903
Row 44400 of 61903
Row 44500 of 61903
Row 44600 of 61903
Row 44700 of 61903
Row 44800 of 61903
Row 44900 of 61903
Row 45000 of 61903
Row 45100 of 61903
Row 45200 of 61903

In [7]:
# Transform to dataframe
df_processed = pd.DataFrame(processed_dataset, columns = ["id", "tweet", "location"])

In [10]:
count_CA = Counter(list(df_processed["location"])).most_common(5)
print(count_CA)

[('Andalusia', 10291), ('Madrid', 9670), ('Basque_Country', 9130), ('Catalonia', 8858), ('Canary_Islands', 7268)]

In [11]:
# Save dataframe as csv
df_processed.to_csv("tweet_dataset_processed.csv", encoding='utf-8-sig', index = False)

In [12]:
df_processed = pd.read_csv("tweet_dataset_processed.csv")

In [13]:
df_processed.head()

          id                                              tweet   location
0  625707906  dia ayer amig cit emple call av irigoy 1334 av...  Andalusia
1  625707906  shaval shaval voy bedford ano vien t co aoxmpm...  Andalusia
2  625707906  hac falt pens sab llev segund fot pulser lumin...  Andalusia
3  625707906  imagin ser asi ridicul pens tod luc movil cans...  Andalusia
4  625707906             k recuerd d bibi limit t co ozagbzlngw  Andalusia